<div class="page-header">
    <h1>PharmAnalitics</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/gender">Gender</a></li>
                <li><a href="/age">Age</a></li>
        </div>
    </div>
</nav>

<form method='post' action="/gender">
    <select name="gender" id="">
        <option value="allSex">No sex group</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>

    <select name="age" id="">
        <option value="allAge">All age groups</option>
        <option value="age1">age0to20</option>
        <option value="age2">age21to30</option>
        <option value="age3">age31to40</option>
        <option value="age4">age41to50</option>
        <option value="age5">age51to60</option>
        <option value="age6">age61AndOlder</option>
    </select>
    <input type="submit">
</form>
{{#if showMaleGraph }}

<script type="text/javascript">google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let data = google.visualization.arrayToDataTable([
                ['Пол', 'Проценты'],
                ['0 - 20', {{genderAgeCount.age1}}],
                ['21 - 30', {{genderAgeCount.age2}}],
                ['31 - 40', {{genderAgeCount.age3}}],
                ['41 - 50', {{genderAgeCount.age4}}],
                ['51 - 60', {{genderAgeCount.age5}}],
                ['60<', {{genderAgeCount.age6}}],


            ]);

            let options = {
                title: 'РАСПРЕДЕЛЕНИЕ ПО ПОЛУ',
                pieHole: 0.50,
                legend: { position: 'bottom' },
                titleTextStyle: {
                    fontSize: 24,
                    bold: true,
                }
            };

            let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>
    <body>
        <div id="donutchart" style="width: 900px; height: 500px;"></div>
    </body>
    
{{/if}}
{{#if showFemaleGraph}}

<script type="text/javascript">google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let data = google.visualization.arrayToDataTable([
                ['Пол', 'Проценты'],
                ['0 - 20', {{genderAgeCount.age1}}],
                ['21 - 30', {{genderAgeCount.age2}}],
                ['31 - 40', {{genderAgeCount.age3}}],
                ['41 - 50', {{genderAgeCount.age4}}],
                ['51 - 60', {{genderAgeCount.age5}}],
                ['60<', {{genderAgeCount.age6}}],

                

            ]);

            let options = {
                title: 'РАСПРЕДЕЛЕНИЕ ПО ПОЛУ',
                pieHole: 0.50,
                legend: { position: 'bottom' },
                titleTextStyle: {
                    fontSize: 24,
                    bold: true,
                }
            };

            let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>
    <body>
        <div id="donutchart" style="width: 900px; height: 500px;"></div>
    </body>

{{/if}}
{{#if showAll}}
<script type="text/javascript">google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let data = google.visualization.arrayToDataTable([
                ['Пол', 'Проценты'],
                ['Женщины', {{gender.m}}],
                ['Мужчины', {{gender.f}}],
                

            ]);

            let options = {
                title: 'РАСПРЕДЕЛЕНИЕ ПО ПОЛУ',
                pieHole: 0.50,
                legend: { position: 'bottom' },
                titleTextStyle: {
                    fontSize: 24,
                    bold: true,
                }
            };

            let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>
    <body>
        <div id="donutchart" style="width: 900px; height: 500px;"></div>
    </body>
    {{/if}}
